<main>

    <!-- page-title-area start -->
    <div class="page-title-area">
        <div class="breadcrumb-wrapper" data-background="assets/assets/img/page-title/page-title-bg.jpg"
            style="background-image: url(assets/assets/img/page-title/page-title-bg.jpg);">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2 class="breadcrumb-title">Faq</h2>
                    <ul class="breadcumb-menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Faq</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title-area end -->


    <!-- faq-section start -->
    <section class="faq-section pt-140 pb-25 pt-lg-100 pb-lg-15">
        <div class="container">
            <div class="title-one mb-70">
                <h2 class="title text-center">Frequently Asked Question</h2>
            </div>
            <div class="faq-que-list faq-style-3 mb-45">
                <div class="accordion accordion-one" id="accordion4">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading2s">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse2s" aria-expanded="false" aria-controls="collapse2s">

                                What is swissverve?

                            </button>
                        </h2>
                        <div id="collapse2s" class="accordion-collapse collapse" aria-labelledby="heading2s"
                            data-bs-parent="#accordion4">
                            <div class="accordion-body">
                                <p>Swissverve is an online banking platform designed to provide users with secure and convenient access to a range of financial services. Swiss verve provides global payment options and personalized financial solutions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo2s">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwos" aria-expanded="false" aria-controls="collapseTwos">

                                How do I sign up for Swissverve mobile banking?

                            </button>
                        </h2>
                        <div id="collapseTwos" class="accordion-collapse collapse" aria-labelledby="headingTwo2s"
                            data-bs-parent="#accordion4">
                            <div class="accordion-body">
                                <p>To sign up, visit the Swissverve website and follow the registration process. You may need to provide personal information and verify your identity. </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThrees">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThrees" aria-expanded="false" aria-controls="collapseThrees">

                                Is my financial information secure with Swissverve?

                            </button>
                        </h2>
                        <div id="collapseThrees" class="accordion-collapse collapse" aria-labelledby="headingThrees"
                            data-bs-parent="#accordion4">
                            <div class="accordion-body">
                                <p>Yes, Swissverve prioritizes secure transactions and employs measures to protect your financial information during all operations.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFours">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFours" aria-expanded="false" aria-controls="collapseFours">
                                How can I get personalized financial guidance through Swissverve?

                            </button>
                        </h2>
                        <div id="collapseFours" class="accordion-collapse collapse" aria-labelledby="headingFours"
                            data-bs-parent="#accordion4">
                            <div class="accordion-body">
                                <p>Swissverve is committed to supporting users by offering dedicated guidance and personalized solutions. For specific services, it’s best to contact the customer support directly.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- faq-section end -->

    <!-- cta-section start -->
    <div class="cta-section position-relative pt-70 pb-100 pt-lg-60 pb-lg-70">
        <img class="d-none d-lg-inline-block position-absolute start-0 mt-170 ml-140 top-0 rotation"
            src="assets/assets/img/shape/shape-9.png" alt="shape">
        <img class="d-none d-lg-inline-block position-absolute end-0 mt-170 mr-100 top-0 rotation"
            src="assets/assets/img/shape/shape-9.png" alt="shape">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="title-one text-center">
                        <h2 class="title">Create Account Now & Get
                            a loan Today!</h2>
                        <a routerLink="/login" class="btn-four mt-25">Get a loan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cta-section end -->

</main>