<main>

    <!-- page-title-area start -->
    <div class="page-title-area">
        <div class="breadcrumb-wrapper" data-background="assets/assets/img/page-title/page-title-bg.jpg"
            style="background: url(assets/assets/img/page-title/page-title-bg.jpg);">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2 class="breadcrumb-title">About Us</h2>
                    <ul class="breadcumb-menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">About US</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title-area end -->

    <!-- about-section start -->
    <section class="about-section pt-140 pb-190 pt-lg-100 pb-lg-20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 mb-45">
                    <div class="img-wrapper-seven wow fadeInLeft">
                        <img class="main-img img-fluid" src="assets/assets/img/media/media-34.jpg" alt="About">
                        <img class="main-img2 img-fluid d-none d-xl-inline-block"
                            src="assets/assets/img/media/media-35.png" alt="About">
                    </div>
                </div>
                <div class="col-lg-6 ps-xxl-3 wow fadeInRight">
                    <div class="title-one mb-45">
                        <h2 class="title">A Brief History About Us</h2>
                        <p>Swissverve is a Swiss banking institution founded in 2000 in Zurich, established with the vision of merging traditional Swiss financial stability with forward-looking innovation. Over the past 25 years, it has grown from a boutique private bank into a respected full-service financial institution, offering wealth management, corporate banking, investment advisory, and digital financial services.</p>
                        <p>In its early years, Swissverve focused on serving high-net-worth individuals, building a reputation for discretion, reliability, and tailored financial solutions. By the mid-2000s, it expanded its offerings to include small and medium-sized enterprise (SME) financing and international investment services, capitalizing on Switzerland’s status as a global financial hub.</p>
                        <p>More recently, Swissverve has made sustainability and responsible banking central to its mission. It now offers green investment options and supports clients with ethical finance goals. </p>
                        <p>Today, Swissverve stands out for its 25-year legacy of trust, innovation, and client-centric values, and remains committed to shaping the future of finance responsibly.</p>
                    </div>
                    <div class="feature-list-two">
                        <span class="number">01</span> <span class="feature-title">Mobile app easy management &
                            access.</span>
                    </div>
                    <div class="feature-list-two">
                        <span class="number">02</span> <span class="feature-title">Worldwide Network - International
                            Bank.</span>
                    </div>
                    <div class="feature-list-two">
                        <span class="number">03</span> <span class="feature-title">Software token that work all across
                            the world.</span>
                    </div>
                    <div class="feature-list-two">
                        <span class="number">04</span> <span class="feature-title">No ATM fees. No minimum balance. No
                            overdrafts.</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-section end -->

    <!-- fun-fact-section start -->
    <section class="theme-bg2 fun-fact-section position-relative z-1 pt-125 pb-80 pt-lg-100 pb-lg-65">
        <img class="shape-1 position-absolute bottom-0 z-n1" src="assets/assets/img/shape/shape-2.png" alt="shape">
        <img class="shape-2 position-absolute end-0 top-0 z-n1" src="assets/assets/img/shape/shape-3.png" alt="shape">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="title-one mb-70 mb-md-30">
                        <h2 class="title text-white wow fadeInLeft">Statistics show Reliability.</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="title-one ps-xxl-5 ms-xxl-5 mb-70">
                        <p class="description text-white wow fadeInRight">Statistics clearly emphasize the
                            stability and
                            trustworthiness of
                            outcomes, showcasing consistent reliability across various measurements.</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-4 col-md-4 d-lg-flex justify-content-lg-start">
                    <div class="counter-wrap-1 wow fadeInUp">
                        <h3 class="number"><span class="counter">50</span>+</h3>
                        <p class="counter-title">Partner with us</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="counter-wrap-1 wow fadeInUp" data-wow-delay="0.1s">
                        <h3 class="number">$<span class="counter">10</span>%</h3>
                        <p class="counter-title">Low interest rate</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 d-lg-flex justify-content-lg-end">
                    <div class="counter-wrap-1 wow fadeInUp" data-wow-delay="0.2s">
                        <h3 class="number"><span class="counter">200</span>+</h3>
                        <p class="counter-title">Successful projects</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- fun-fact-section end -->

    <!-- service-section start -->
    <section class="service-section-4 pt-140 pt-lg-60 pb-25 pb-lg-15">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="title-one mb-40 pe-xxl-5 me-xxl-5">
                        <h2 class="title">Complete Banking solution with great Facility.</h2>
                        <p class="mb-50 pe-xxl-5 me-xxl-5">Professional guidance for securing the best home
                            loans tailored to your
                            financial
                            needs and homeownership goals.</p>
                        <a class="ht-btn" routerLink="services">All services</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-wrap-5">
                        <div class="icon">
                            <img class="front-icon" src="assets/assets/img/icon/icon-32.svg" alt="icon">
                            <img class="back-icon" src="assets/assets/img/icon/icon-32w.svg" alt="icon">
                        </div>
                        <h4 class="service-title"><a routerLink="services">Loan Facility</a>
                        </h4>
                        <p class="description">you can easily switch between accounts without any hassle, ensuring that
                            you have complete control over your financial activities.</p>
                        <a class="arrow-btn" href="#"><img src="assets/assets/img/icon/arrow-5.svg" alt="arrow"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-wrap-5 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="icon">
                            <img class="front-icon" src="assets/assets/img/icon/icon-33.svg" alt="icon">
                            <img class="back-icon" src="assets/assets/img/icon/icon-33w.svg" alt="icon">
                        </div>
                        <h4 class="service-title"><a routerLink="services">Expense Track</a>
                        </h4>
                        <p class="description">At Swissverve, we offer a robust expense tracking feature designed to
                            help you stay on top of your spending, manage your budget, and achieve your financial goals.
                        </p>
                        <a class="arrow-btn" href="#"><img src="assets/assets/img/icon/arrow-5.svg" alt="arrow"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-wrap-5 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon">
                            <img class="front-icon" src="assets/assets/img/icon/icon-34.svg" alt="icon">
                            <img class="back-icon" src="assets/assets/img/icon/icon-34w.svg" alt="icon">
                        </div>
                        <h4 class="service-title"><a routerLink="services">Strong security</a>
                        </h4>
                        <p class="description">we prioritize your safety and peace of mind. Our robust security measures
                            are designed to protect your personal information and financial transactions, ensuring a
                            secure environment for all your banking needs.</p>
                        <a class="arrow-btn" href="#"><img src="assets/assets/img/icon/arrow-5.svg" alt="arrow"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-wrap-5 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="icon">
                            <img class="front-icon" src="assets/assets/img/icon/icon-35.svg" alt="icon">
                            <img class="back-icon" src="assets/assets/img/icon/icon-35w.svg" alt="icon">
                        </div>
                        <h4 class="service-title"><a routerLink="services">DPS & FDR</a>
                        </h4>
                        <p class="description">we offer comprehensive financial services tailored to meet your diverse
                            investment needs. Our DPS (Deposit Pension Scheme) and FDR (Fixed Deposit Receipt) are
                            designed to provide you with secure and profitable investment opportunities.</p>
                        <a class="arrow-btn" href="#"><img src="assets/assets/img/icon/arrow-5.svg" alt="arrow"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-section end -->

    <!-- why-chose-section start -->
    <section class="why-chose-section pt-70 pt-lg-60 pb-95 pb-lg-15">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-last">
                    <div class="img-wrapper-six tex-md-end text-center mb-45 wow fadeInRight">
                        <img class="main-img img-fluid" src="assets/assets/img/media/media-30.jpg" alt="media">
                        <div
                            class="rating-box position-absolute z-2 bottom-0 end-0 mb-70 d-none d-md-inline-block text-start me-n3">
                            <div class="hero-rating mb-10">
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                                <a href="#"><i class="bi bi-star-fill"></i></a>
                            </div>
                            <h3>13k rating <span>(4.7
                                    Rating)</span></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="title-one mb-80">
                        <h2 class="title">You Can Find All Things You Need In Our Company</h2>
                        <p>The Financial Conduct Authority (FCA) license No. 191/13 makes the company follow strict quality standards and transparency of its activities, including the provision of client services. </p>
                        <p>We continuously seek feedback from our customers to improve our support services. Your input helps us to refine our processes and ensure that we are meeting your needs effectively.</p>
                    </div>
                    <div class="feature-list-six mb-40">
                        <span class="icon"><i class="bi bi-check-lg"></i></span>
                        <span class="feature-title">Advanced Protection & Secured Transactions</span>
                    </div>
                    <div class="feature-list-six mb-40">
                        <span class="icon"><i class="bi bi-check-lg"></i></span>
                        <span class="feature-title">24/7 Support</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- why-chose-section end -->

    <!-- how-we-workssection start -->
    <section class="theme-bg2 how-we-works-section position-relative z-1 pt-120 pb-60 pt-lg-60 pb-lg-10">
        <img class="shape-1 position-absolute bottom-0 z-n1" src="assets/assets/img/shape/shape-2.png" alt="shape">
        <img class="shape-2 position-absolute end-0 top-0 z-n1" src="assets/assets/img/shape/shape-3.png" alt="shape">
        <div class="container">
            <div class="title-one text-center mb-70">
                <h2 class="title text-white wow fadeInUp">How it Works</h2>
            </div>
            <div class="row align-items-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-4">
                    <div class="feature-wrap-7 pe-xxl-5">
                        <div class="icon">
                            <img class="front-icon" src="assets/assets/img/icon/icon-17.svg" alt="icon">
                        </div>
                        <h3 class="feature-title"><a routerLink="about">Consult With Team</a>
                        </h3>
                        <p class="description">Swissverve provide customer support we have teams ready to deliver.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feature-wrap-7">
                        <img class="arrow-shape1" src="assets/assets/img/icon/icon-27.svg" alt="icon">
                        <div class="icon">
                            <img class="front-icon" src="assets/assets/img/icon/icon-18.svg" alt="icon">
                        </div>
                        <h3 class="feature-title"><a routerLink="about">Provide Your Document </a>
                        </h3>
                        <p class="description">Documents are indeed necessary to open an account at Swissverve.</p>
                        <img class="arrow-shape2" src="assets/assets/img/icon/icon-27.svg" alt="icon">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feature-wrap-7 ps-xxl-5">
                        <div class="icon">
                            <img class="front-icon" src="assets/assets/img/icon/icon-19.svg" alt="icon">
                        </div>
                        <h3 class="feature-title"><a routerLink="about">Verification</a>
                        </h3>
                        <p class="description">After bank verification to ensure authenticity your account will be activated.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- how-we-works-section end -->

    <!-- feedback-section start -->
   <!-- <div class="feedback-section pt-140 pt-lg-60 pb-30 pb-lg-20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title-one text-center text-md-start mb-70">
                        <h2 class="title wow fadeInLeft">Clients Feedback</h2>
                    </div>
                </div>
                <div class="col-md-6 text-md-end text-center">
                    <div class="arrow-style-2 d-inline-flex align-items-center mb-70">
                        <button data-slick-prev="#arrow-nav-4" class="slick-prev slick-arrow mr-15">
                            <img src="assets/assets/img/icon/arrow-left-2.svg" alt="arrow">
                        </button>
                        <button data-slick-next="#arrow-nav-4" class="slick-next slick-arrow">
                            <img src="assets/assets/img/icon/arrow-right-2.svg" alt="arrow">
                        </button>
                    </div>
                </div>
            </div>
            <div class="feedback-slider-three">
                <div id="arrow-nav-4" class="row ht-carousel" data-slide-show="3" data-xl-slide-show="3"
                    data-ml-slide-show="3" data-lg-slide-show="3" data-md-slide-show="2" data-xs-slide-show="1">
                    <div class="col-lg-6">
                        <div class="feedback-wrap-4">
                            <div class="content">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="flag-box">
                                        <img class="author" src="assets/assets/img/media/media-5.jpg" alt="author">
                                        <img class="author-country" src="assets/assets/img/media/media-28.jpg"
                                            alt="author">
                                    </div>
                                    <div class="quote">
                                        <img class="icon" src="assets/assets/img/icon/icon-28.svg" alt="quote">
                                    </div>
                                </div>
                                <p class="feedback-text">Fibank gave me peace during tough financial times.</p>
                                <div class="d-xl-flex align-items-center justify-content-between">
                                    <div class="author-content">
                                        <h5 class="name">John cuper jonathan</h5>
                                        <p class="designation">CEO & Founder</p>
                                    </div>
                                    <div class="rating">
                                        <a href="#"><i class="bi bi-star-fill"></i></a>
                                        <a href="#"><i class="bi bi-star-fill"></i></a>
                                        <a href="#"><i class="bi bi-star-fill"></i></a>
                                        <a href="#"><i class="bi bi-star-fill"></i></a>
                                        <a href="#"><i class="bi bi-star-fill"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feedback-wrap-4">
                            <div class="content">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="flag-box">
                                        <img class="author" src="assets/assets/img/media/media-6.jpg" alt="author">
                                        <img class="author-country" src="assets/assets/img/media/media-27.jpg"
                                            alt="author">
                                    </div>
                                    <div class="quote">
                                        <img class="icon" src="assets/assets/img/icon/icon-28.svg" alt="quote">
                                    </div>
                                </div>


                                <p class="feedback-text">Your insurance gave me confidence with prompt,
                                    reliable,
                                    and promised coverage.</p>
                                <div class="d-xl-flex align-items-center justify-content-between">
                                    <div class="author-content">
                                        <h5 class="name">Rodela Jahan</h5>
                                        <p class="designation">Service Holder</p>
                                    </div>
                                    <div class="rating">
                                        <a href="#"><i class="bi bi-star-fill"></i></a>
                                        <a href="#"><i class="bi bi-star-fill"></i></a>
                                        <a href="#"><i class="bi bi-star-fill"></i></a>
                                        <a href="#"><i class="bi bi-star-fill"></i></a>
                                        <a href="#"><i class="bi bi-star-fill"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feedback-wrap-4">
                            <div class="content">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="flag-box">
                                        <img class="author" src="assets/assets/img/media/media-5.jpg" alt="author">
                                        <img class="author-country" src="assets/assets/img/media/media-28.jpg"
                                            alt="author">
                                    </div>
                                    <div class="quote">
                                        <img class="icon" src="assets/assets/img/icon/icon-28.svg" alt="quote">
                                    </div>
                                </div>
                                <p class="feedback-text">Fibank gave me peace during tough financial times.</p>
                                <div class="d-xl-flex align-items-center justify-content-between">
                                    <div class="author-content">
                                        <h5 class="name">John cuper jonathan</h5>
                                        <p class="designation">CEO & Founder</p>
                                    </div>
                                    <div class="rating">
                                        <a href="#"><i class="bi bi-star-fill"></i></a>
                                        <a href="#"><i class="bi bi-star-fill"></i></a>
                                        <a href="#"><i class="bi bi-star-fill"></i></a>
                                        <a href="#"><i class="bi bi-star-fill"></i></a>
                                        <a href="#"><i class="bi bi-star-fill"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feedback-wrap-4">
                            <div class="content">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="flag-box">
                                        <img class="author" src="assets/assets/img/media/media-6.jpg" alt="author">
                                        <img class="author-country" src="assets/assets/img/media/media-27.jpg"
                                            alt="author">
                                    </div>
                                    <div class="quote">
                                        <img class="icon" src="assets/assets/img/icon/icon-28.svg" alt="quote">
                                    </div>
                                </div>


                                <p class="feedback-text">Your efficient, clear process turned claims into a
                                    breeze. Grateful!</p>
                                <div class="d-xl-flex align-items-center justify-content-between">
                                    <div class="author-content">
                                        <h5 class="name">Lucy Rose</h5>
                                        <p class="designation">Service Holder</p>
                                    </div>
                                    <div class="rating">
                                        <a href="#"><i class="bi bi-star-fill"></i></a>
                                        <a href="#"><i class="bi bi-star-fill"></i></a>
                                        <a href="#"><i class="bi bi-star-fill"></i></a>
                                        <a href="#"><i class="bi bi-star-fill"></i></a>
                                        <a href="#"><i class="bi bi-star-fill"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- feedback-section end -->

    <!-- team-section start -->
    <section class="team-section position-relative z-1 pt-60 pt-lg-50 pb-150 pb-lg-90">
        <div class="container">
            <div class="d-md-flex align-items-center justify-content-between text-center mb-40">
                <div class="title-one mb-30">
                    <h2 class="title wow fadeInLeft">Meet Our Experts</h2>
                </div>
                <div class="right-btn mb-30">
                    <a class="ht-btn btn-three wow fadeInRight" href="team.html">All Experts</a>
                </div>
            </div>
            <div id="arrow-nav-6" class="row ht-carousel" data-slide-show="4" data-xl-slide-show="3"
                data-ml-slide-show="3" data-lg-slide-show="3" data-md-slide-show="2" data-xs-slide-show="1">
                <div class="col-xl-3 col-md-6">
                    <div class="team-wrap-2">
                        <div class="team-thumb">
                            <img class="img-fluid" src="assets/assets/img/team/team-5.jpg" alt="team">
                            <div class="team-social">
                                <a href="#"><i class="bi bi-twitter"></i></a>
                                <a href="#"><i class="bi bi-instagram"></i></a>
                                <a href="#"><i class="bi bi-facebook"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="name"><a routerLink="about">David M. Cohen</a></h4>
                            <p class="designation">Accountant</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="team-wrap-2">
                        <div class="team-thumb">
                            <img class="img-fluid" src="assets/assets/img/team/team-6.jpg" alt="team">
                            <div class="team-social">
                                <a href="#"><i class="bi bi-twitter"></i></a>
                                <a href="#"><i class="bi bi-instagram"></i></a>
                                <a href="#"><i class="bi bi-facebook"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="name"><a routerLink="about">Christopher L. Miller</a></h4>
                            <p class="designation">Team Manager</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="team-wrap-2">
                        <div class="team-thumb">
                            <img class="img-fluid" src="assets/assets/img/team/team-7.jpg" alt="team">
                            <div class="team-social">
                                <a href="#"><i class="bi bi-twitter"></i></a>
                                <a href="#"><i class="bi bi-instagram"></i></a>
                                <a href="#"><i class="bi bi-facebook"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="name"><a routerLink="about">Ronald Richards</a></h4>
                            <p class="designation">Lead Officer</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="team-wrap-2">
                        <div class="team-thumb">
                            <img class="img-fluid" src="assets/assets/img/team/team-8.jpg" alt="team">
                            <div class="team-social">
                                <a href="#"><i class="bi bi-twitter"></i></a>
                                <a href="#"><i class="bi bi-instagram"></i></a>
                                <a href="#"><i class="bi bi-facebook"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="name"><a routerLink="about">Marvin McKinney</a></h4>
                            <p class="designation">Area Manager</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="team-wrap-2">
                        <div class="team-thumb">
                            <img class="img-fluid" src="assets/assets/img/team/team-5.jpg" alt="team">
                            <div class="team-social">
                                <a href="#"><i class="bi bi-twitter"></i></a>
                                <a href="#"><i class="bi bi-instagram"></i></a>
                                <a href="#"><i class="bi bi-facebook"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="name"><a routerLink="about">David M. Cohen</a></h4>
                            <p class="designation">Accountant</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="team-wrap-2">
                        <div class="team-thumb">
                            <img class="img-fluid" src="assets/assets/img/team/team-6.jpg" alt="team">
                            <div class="team-social">
                                <a href="#"><i class="bi bi-twitter"></i></a>
                                <a href="#"><i class="bi bi-instagram"></i></a>
                                <a href="#"><i class="bi bi-facebook"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="name"><a routerLink="about">Leslie Alexander</a></h4>
                            <p class="designation">Team Manager</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feature-slider-wrap mt-50">
                <div class="feature-arrow-border"></div>
                <div class="arrow-style-2 d-inline-flex align-items-center justify-content-end  z-2 px-4 end-0 mr-130"
                    data-bg-color="#E4F0F0">
                    <button data-slick-prev="#arrow-nav-6" class="slick-prev slick-arrow mr-15">
                        <img src="assets/assets/img/icon/arrow-left-2.svg" alt="arrow">
                    </button>
                    <button data-slick-next="#arrow-nav-6" class="slick-next slick-arrow">
                        <img src="assets/assets/img/icon/arrow-right-2.svg" alt="arrow">
                    </button>
                </div>
            </div>
        </div>
        <div class="team-section-bg w-100 position-absolute z-n1 bottom-0" data-bg-color="#E4F0F0"
            style="height: 530px;"></div>
    </section>
    <!-- team-section end -->

    <!-- contact-section start -->
    <section class="contact-section pt-140 pb-70 pt-lg-60 pb-lg-60">
        <div class="container">
            <div class="contact-bg-one border border-dark p-3">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 pe-lg-0">
                        <div class="contact-form-wrapper-2">
                            <div class="title-one mb-30">
                                <h2 class="title">Contact Us.</h2>
                            </div>
                            <form class="contact-form" action="#">
                                <div class="input-wrapper">
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="input-wrapper">
                                    <input type="email" placeholder="Email">
                                </div>
                                <div class="input-wrapper message">
                                    <textarea name="message" placeholder="Your Message"></textarea>
                                </div>
                                <button type="submit" class="submit-btn border-0">Contact
                                    Us</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="contact-img-box text-lg-end">
                            <img class="img-fluid" src="assets/assets/img/media/media-36.jpg" alt="media">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact-section end -->

    <!-- cta-section end -->
    <div class="cta-section position-relative pt-70 pb-100 pt-lg-60 pb-lg-60">
        <img class="d-none d-lg-inline-block position-absolute start-0 mt-170 ml-140 top-0 rotation"
            src="assets/assets/img/shape/shape-9.png" alt="shape">
        <img class="d-none d-lg-inline-block position-absolute end-0 mt-170 mr-100 top-0 rotation"
            src="assets/assets/img/shape/shape-9.png" alt="shape">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="title-one text-center">
                        <h2 class="title">Have Concerns? Feel Free to Connect.</h2>
                        <a routerLink="/login" class="ht-btn mt-25">Get a loan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cta-section end -->

</main>