<!-- header-area start -->
<!-- <div class="header-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div
                    class="topbar-content d-flex align-items-center justify-content-center justify-content-md-between">
                    <div class="ht-topbar-left">
                        <a class="ht-promo d-none d-md-inline-block" href="#"><span
                                class="hello">Hello!!</span>
                            Welcome to Fibank.</a>
                        <a class="ht-phone d-none d-xl-inline-block" href="#"><span><i
                                    class="bi bi-telephone"></i></span> +86-085-550-1539</a>
                    </div>
                    <div class="ht-topbar-right d-flex align-items-center">
                        <a class="ht-email d-none d-lg-inline-block" href="#"><span><i
                                    class="bi bi-envelope"></i></span> fibankinfomain166gmail.com</a>

                        <div class="header-social">
                            <a href="%40.html"><i class="bi bi-facebook"></i></a>
                            <a href="%40.html"><i class="bi bi-instagram"></i></a>
                            <a href="%40.html"><i class="bi bi-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<header class="theme-main-menu theme-menu-five sticky-top bg-light"
    style="box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;">
    <div class="container-fluid custom-container">
        <div class="main-header-area">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-auto col-6">
                    <div class="logo-area">
                        <a routerLink="/">
                            <div><span style="font-weight: 700;">Swissverve</span></div>
                        </a>
                    </div>
                </div>
                <div class="col-md-auto d-flex align-items-center justify-content-end d-lg-inline-block d-none">
                    <div class="main-menu d-none d-lg-block">
                        <nav id="mobile-menu">
                            <ul class="menu-list">
                                <li>
                                    <a routerLink="/">Home</a>
                                </li>
                                <li>
                                    <a routerLink="about">About</a>
                                </li>
                                <li>
                                    <a routerLink="services">Services</a>
                                </li>
                                <li>
                                    <a routerLink="faq">FAQ</a>
                                </li>
                                <li>
                                    <a routerLink="contact">Contact</a>
                                </li>
                                <li>
                                    <a routerLink="/login">Login</a>
                                </li>
                            </ul><!--End of menu list-->
                        </nav>
                    </div>
                </div>
                <div class="col-md-auto col-6">
                    <div class="right-nav d-flex align-items-center justify-content-end">
                        <div class="quote-btn d-lg-inline-block d-none">
                            <a routerLink="/register" class="ht-btn bs-btn" data-bs-toggle="modal"
                                data-bs-target="#loginModal">Register</a>
                        </div>
                        <div class="search-area ms-1 d-none">
                            <a class="search-input" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
                                aria-controls="offcanvasTop">
                                <i class="bi bi-search"></i>
                            </a>
                        </div>
                        <div class="hamburger-menu ms-0 d-lg-none d-md-inline-flex">
                            <div class="bar-wrap">
                                <div class="bar-1"></div>
                                <div class="bar-2"></div>
                                <div class="bar-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.theme-main-menu -->
</header>
<!-- header-area end -->

<!-- slide-bar start -->
<div class="ht-menu-wrapper">
    <div class="ht-menu-area">
        <button class="ht-menu-toggle"><i class="bi bi-x-lg"></i></button>
        <div class="mobile-logo">
            <a routerLink="/">
                <h6 style="color: #FFFFFF;">SwissVerve</h6>
            </a>
        </div>
        <div class="mobile-menu-wrapper d-lg-none d-inline-block">
            <!--<div class="mobile-menu"></div>-->
            <nav id="mobile-menu">
                <ul class="menu-list" style="color: #FFFFFF; list-style: none; padding: 0;">
                    <li>
                        <a routerLink="/" class="ht-menu-toggle" style="position: relative !important; background: none; font-size: 16px; right: 0px; width: 100px !important; padding: 0 !important; border-radius: none;">Home</a>
                    </li>
                    <li>
                        <a routerLink="about" class="ht-menu-toggle" style="position: relative !important; background: none; font-size: 16px; right: 0px; width: 100px !important; padding: 0 !important; border-radius: none;">About</a>
                    </li>
                    <li>
                        <a routerLink="services" class="ht-menu-toggle" style="position: relative !important; background: none; font-size: 16px; right: 0px; width: 100px !important; padding: 0 !important; border-radius: none;">Services</a>
                    </li>
                    <li>
                        <a routerLink="faq" class="ht-menu-toggle" style="position: relative !important; background: none; font-size: 16px; right: 0px; width: 100px !important; padding: 0 !important; border-radius: none;">FAQ</a>
                    </li>
                    <li>
                        <a routerLink="contact" class="ht-menu-toggle" style="position: relative !important; background: none; font-size: 16px; right: 0px; width: 100px !important; padding: 0 !important; border-radius: none;">Contact</a>
                    </li>
                    <li>
                        <a routerLink="/login" class="ht-menu-toggle" style="position: relative !important; background: none; font-size: 16px; right: 0px; width: 100px !important; padding: 0 !important; border-radius: none;">Login</a>
                    </li>
                </ul><!--End of menu list-->
            </nav>
        </div>
        <div class="offset-widget mb-40">
            <div class="info-widget">
                <h4 class="offset-title mb-20">About Us</h4>
                <p class="mb-30">

                </p>
            </div>
        </div>
        <div class="offset-widget mb-30 pr-10">
            <div class="info-widget info-widget2">
                <h4 class="offset-title mb-20">Contact Info</h4>
                <p>
                    <i class="fal fa-address-book"></i>
                    Rue Rothschild 1202, Genevra, Switzerland
                </p>
                <p>
                    <i class="fal fa-phone"></i>
                    +447424288229
                </p>
                <p>
                    <i class="fal fa-envelope-open"></i>
                    support&#64;swissverve.com
                </p>
            </div>
        </div>
        <!--<div class="login-btn text-center">
            <a class="ht-btn w-100" routerLink="/login">Login</a>
        </div>-->

    </div>
</div>
<!-- side-bar end -->

<router-outlet></router-outlet>

<!--footer-area start-->
<footer class="footer-five theme-bg2 mt--115 pt-195">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-6 col-xl-6 text-xl-start text-center">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <a routerLink="/">
                            <div><span style="font-weight: 700; color: #FFFFFF;">Swissverve</span></div>
                        </a>
                    </div>
                    <p class="description-text">Choose us for reliable, fast banking services that meets all
                        your
                        financial needs.</p>
                    <ul class="d-md-flex justify-content-between">
                        <li>
                            <a routerLink="/about">About us</a>
                        </li>
                        <li>
                            <a routerLink="/login">Account</a>
                        </li>
                        <li>
                            <a routerLink="/">Blogs</a>
                        </li>
                        <li>
                            <a routerLink="/">Testimonial</a>
                        </li>
                        <li>
                            <a routerLink="contact">Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="offset-xxl-1 col-xxl-5 col-xl-6 col-lg-7 text-center text-xl-end">
                <h4 class="widget-title text-xl-start text-center">Newsletter</h4>
                <div class="subscribe-form sub-form-3 d-md-flex align-items-center mb-45">
                    <input type="text" placeholder="Enter Your Mail">
                    <button type="submit">Try Now</button>
                </div>
                <div class="social-links mb-5">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-twitter"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright-wrap pt-30">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 text-center text-md-start">
                    <div class="copyright-text pb-30">
                        <a href="https://themeforest.net/user/creativegigs/portfolio">Powered By Swissverve</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center text-md-end pb-30">
                    <ul class="footer-menu">
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer-area end-->