<div class="container-fluid pb-5" style="position: relative; background: url(coming_soon.jpeg); background-position: center center; background-size: cover; width: 100%; min-height: 100vh;">
  <!--<div class="layer" style="position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.8);"></div>-->
  <div class="container" style="padding-top: 200px; color: #FFFFFF;">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="card p-5" style="background-color: #000000; color: #FFFFFF; border-radius: 30px; text-align: center;  opacity: 0.9;">
          <h1 style="text-align: center;">30 DAYS TO LAUNCH</h1>
          <h5 style="line-height: 300%; color: rgb(63, 63, 161);">SWISS<span style="color: rgb(196, 159, 91);">VERVE</span></h5>
          <p style="font-size: smaller;">We're coming soon! Your trusted banking platform, with secured online banking services. Manage your finances from anywhere.</p>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

</div>


<router-outlet />
