<div class="page-wrapper">
  <!-- Page Content-->
  <div class="page-content">
    <div class="container-xxl">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="card p-2">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
                  <h4 class="card-title">Profile Settings</h4>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end card-header-->
            <form
              (ngSubmit)="onUpdateProfile(profileData)"
              #profileData="ngForm"
            >
              <div class="card-body pt-0">
                <div class="row g-4">
                  <div class="col-lg-6">
                    <div class="mb-3 row">
                      <label
                        for="example-text-input"
                        class="col-sm-2 col-form-label text-start"
                        >First Name</label
                      >
                      <div class="col-sm-10">
                        <input
                          disabled
                          class="form-control"
                          style="
                            background-color: var(--bs-startbar-bg);
                            color: #fd7e14;
                          "
                          type="text"
                          value="{{ firstname }}"
                          id="example-text-input"
                        />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label
                        for="example-text-input"
                        class="col-sm-2 col-form-label text-start"
                        >Last Name</label
                      >
                      <div class="col-sm-10">
                        <input
                          class="form-control"
                          disabled
                          style="
                            background-color: var(--bs-startbar-bg);
                            color: #fd7e14;
                          "
                          type="text"
                          value="{{ lastname }}"
                          id="example-text-input"
                        />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label class="col-sm-2 col-form-label text-start"
                        >Country</label
                      >
                      <div class="col-sm-10">
                        <select
                          class="form-select"
                          aria-label="Default select example"
                          name="country"
                          ngModel
                        >
                          <option disabled selected>- select country -*</option>
                          <option
                            *ngFor="let country of countries"
                            value="{{ country.code2 }}"
                          >
                            {{ country.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label
                        for="example-tel-input"
                        class="col-sm-2 col-form-label text-start"
                        >Phone</label
                      >
                      <div class="col-sm-10">
                        <input
                          class="form-control"
                          type="tel"
                          value=""
                          id="example-tel-input"
                          name="phone"
                          ngModel
                        />
                      </div>
                    </div>
                  </div>
                  <!--end col-->

                  <div class="col-lg-6">
                    <div class="mb-3 row">
                      <label
                        for="example-email-input"
                        class="col-sm-2 col-form-label text-start"
                        >Email</label
                      >
                      <div class="col-sm-10">
                        <input
                          disabled
                          style="
                            background-color: var(--bs-startbar-bg);
                            color: #fd7e14;
                          "
                          class="form-control"
                          type="email"
                          value="{{ email }}"
                          id="example-email-input"
                        />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label
                        for="example-text-input"
                        class="col-sm-2 col-form-label text-start"
                        >Username</label
                      >
                      <div class="col-sm-10">
                        <input
                          disabled
                          style="
                            background-color: var(--bs-startbar-bg);
                            color: #fd7e14;
                          "
                          class="form-control"
                          type="text"
                          value="{{ username }}"
                          id="example-text-input"
                        />
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label class="col-sm-2 col-form-label text-start"
                        >Currency</label
                      >
                      <div class="col-sm-10">
                        <select
                          disabled
                          style="
                            background-color: var(--bs-startbar-bg);
                            color: #fd7e14;
                          "
                          class="form-select"
                          aria-label="Default select example"
                          name="currency"
                        >
                          <option selected>{{ currency }}</option>
                          <option value="EUR">EUR</option>
                          <option value="USD">USD</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!--end col-->
                </div>
                <!--end row-->
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              <!--end card-body-->
            </form>
          </div>
          <!--end card-->
        </div>
        <!--end col-->
      </div>
      <!--end row-->

      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-12">
          <div class="card p-2">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
                  <h4 class="card-title">Password Reset</h4>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end card-header-->
            <div class="card-body pt-0">
              <form
                (ngSubmit)="onResetPassword(passwordData)"
                #passwordData="ngForm"
              >
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label"
                    >Current Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    placeholder="Password"
                    name="current_password"
                    ngModel
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label"
                    >Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    placeholder="Password"
                    name="password"
                    ngModel
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label"
                    >Confirm Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    placeholder="Password"
                    name="password_confirmation"
                    ngModel
                    required
                  />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <!--end card-body-->
          </div>
          <!--end card-->
        </div>
        <!--end col-->
        <div class="col-md-12 col-lg-12">
          <div class="card p-2">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
                  <h4 class="card-title">Transfer Pin</h4>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end card-header-->
            <div class="card-body pt-0">
              <form
                (ngSubmit)="onResetTransferPin(transferPinData)"
                #transferPinData="ngForm"
              >
                <div class="mb-3" *ngIf="pinisset">
                  <label for="horizontalInput2" class="form-label"
                    >Current Pin</label
                  >
                  <input
                    type="password"
                    name="currentPin"
                    class="form-control"
                    id="horizontalInput2"
                    placeholder="Current Pin"
                  />
                </div>
                <div class="mb-3">
                  <label for="horizontalInput2" class="form-label"
                    >Transfer Pin</label
                  >
                  <input
                    type="password"
                    name="transferPin"
                    class="form-control"
                    id="horizontalInput2"
                    placeholder="Transfer Pin"
                    ngModel
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="horizontalInput2" class="form-label"
                    >Confirm Pin</label
                  >
                  <input
                    type="password"
                    name="confirmTransferPin"
                    class="form-control"
                    id="horizontalInput2"
                    placeholder="Confirm Pin"
                    ngModel
                    required
                  />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <!--end card-body-->
          </div>
          <!--end card-->
        </div>
        <!--end col-->
        <div class="col-md-12 col-lg-12" *ngIf="!user">
          <div class="card p-2">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
                  <h4 class="card-title">Card Pin</h4>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end card-header-->
            <div class="card-body pt-0">
              <form
                (ngSubmit)="onSetCardPin(cardPinData)"
                #cardPinData="ngForm"
              >
                <div class="mb-3">
                  <label for="horizontalInput2" class="form-label"
                    >Account Number</label
                  >
                  <input
                    type="text"
                    name="account_number"
                    class="form-control"
                    id="horizontalInput2"
                    placeholder="Enter account number"
                    ngModel
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="horizontalInput2" class="form-label"
                    >Card Pin</label
                  >
                  <div class="input-group">
                    <!-- Icon -->
                    <span class="input-group-text">
                      <i class="bi bi-credit-card-fill"></i>
                      <!-- OR: <i class="fa fa-credit-card"></i> -->
                    </span>

                    <!-- PIN Input (type password) -->
                    <input
                      name="pin"
                      type="password"
                      class="form-control text-center"
                      id="pinInput"
                      maxlength="4"
                      inputmode="numeric"
                      pattern="\d*"
                      placeholder="••••"
                      aria-label="Mastercard PIN"
                      ngModel
                      required
                    />
                  </div>
                </div>
                <div class="mb-3">
                  <label for="horizontalInput2" class="form-label"
                    >Confirm Card Pin</label
                  >
                  <div class="input-group">
                    <!-- Icon -->
                    <span class="input-group-text">
                      <i class="bi bi-credit-card-fill"></i>
                      <!-- OR: <i class="fa fa-credit-card"></i> -->
                    </span>

                    <!-- PIN Input (type password) -->
                    <input
                      name="pin_confirmation"
                      type="password"
                      class="form-control text-center"
                      id="pinInput"
                      maxlength="4"
                      inputmode="numeric"
                      pattern="\d*"
                      placeholder="••••"
                      aria-label="Mastercard PIN"
                      ngModel
                      required
                    />
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <!--end card-body-->
          </div>
          <!--end card-->
        </div>
        <!--end col-->
      </div>
      <!--end row-->

      <!--Start Footer-->

      <footer class="footer text-center text-sm-start d-print-none">
        <div class="container-xxl">
          <div class="row">
            <div class="col-12">
              <div class="card mb-0 rounded-bottom-0">
                <div class="card-body">
                  <p class="text-muted mb-0">© Swissverve</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>

      <!--end footer-->
    </div>
    <!-- end page content -->
  </div>
  <!-- end page-wrapper -->

  <ngx-spinner
    bdColor="rgba(0,0,0,0.8)"
    size="medium"
    color="#fff"
    type="ball-spin-clockwise"
    [fullScreen]="true"
  ></ngx-spinner>
</div>
