<main>

    <!-- page-title-area start -->
    <div class="page-title-area">
        <div class="breadcrumb-wrapper" data-background="assets/assets/img/page-title/page-title-bg.jpg"
            style="background-image: url(assets/assets/img/page-title/page-title-bg.jpg);">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2 class="breadcrumb-title">Services</h2>
                    <ul class="breadcumb-menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Services</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title-area end -->

    <!-- about-section start -->
    <div class="about-section pt-120 pb-55 pb-lg-15 pt-lg-100">
        <div class="container">
            <div class="row align-items-center justify-content-md-between justify-content-center mb-95 mb-lg-50">
                <div class="col-xxl-6 col-md-6">
                    <div class="title-one">
                        <h2 class="title">Providing Services For Last 25 Years With Reputation.</h2>
                    </div>
                </div>
                <div class="offse-xxl-1 col-xxl-5 col-md-6">
                    <div class="title-one">
                        <p class="mb-30">Swissverve is an operating and holding company. As an operating company, rxa
                            manages its SaaS (Software-as-a-Service) software business which provides for simple and
                            seamless monitoring and management of remote or work-from-home employees Swissverve offer a
                            wider range of financial services, such as savings accounts, insurance, and money transfers.
                            They also began to develop innovative new products, such as mobile banking services, to make
                            it easier for their customers to access their services. </p>
                        <a routerLink="about" class="btn-four">About us</a>
                    </div>
                </div>
            </div>
            <div class="row row-cols-md-3 row-cols-1 justify-content-between">
                <div class="col">
                    <div class="counter-wrap-4 text-md-start text-center">
                        <p class="counter-title">Partner with us</p>
                        <div class="counter-divider"></div>
                        <h3 class="number"><span class="counter">50</span>+</h3>
                        <!--<p class="description">More than 146 awards won, celebrating excellence and
                            recognition
                            in various fields.</p>-->
                    </div>
                </div>
                <div class="col"><!--d-flex justify-content-md-end-->
                    <div class="counter-wrap-4 text-md-start text-center">
                        <p class="counter-title">Low interest rate</p>
                        <div class="counter-divider"></div>
                        <h3 class="number">$<span class="counter">10</span>%</h3>
                        <!--<p class="description pe-xxl-3">Our company has over 1.8 million clients, showcasing
                            exceptional
                            trust and
                            service.</p>-->
                    </div>
                </div>
                <div class="col"><!--d-flex justify-content-md-end-->
                    <div class="counter-wrap-4 text-center text-md-start">
                        <p class="counter-title">Successful projects</p>
                        <div class="counter-divider"></div>
                        <h3 class="number"><span class="counter">200</span>+</h3>
                        <!--<p class="description">Our company boasts over 13,000 expert members, ensuring top-tier
                            knowledge
                            and service.</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about-section end -->

    <!-- service-section start -->
    <section class="service-section pt-120 pb-60 pt-lg-60 pb-lg-15" data-bg-color="#E4F0F0">
        <div class="container">
            <div class="title-one d-md-flex align-items-center justify-content-between text-center mb-70">
                <h2 class="title wow fadeInLeft">Our Services</h2>
                <a class="ht-btn btn-three wow fadeInRight" routerLink="services">All Services</a>
            </div>
            <div class="row gx-50 align-items-center">
                <div class="col-lg-6">
                    <div class="service-wrap-6 d-md-flex wow fadeInUp">
                        <div class="icon">
                            <img class="front-icon" src="assets/assets/img/icon/icon-36.svg" alt="icon">
                            <img class="back-icon" src="assets/assets/img/icon/icon-36w.svg" alt="icon">
                        </div>
                        <div class="content">
                            <h4 class="service-title"><a routerLink="services">Register</a></h4>
                            <p class="description">Quickly sign up, verify your identity, and gain instant access to
                                your account in just a few simple steps.</p>
                            <a routerLink="services" class="more-btn">View More Details <img
                                    src="assets/assets/img/icon/arrow-7.svg" alt="arrow"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-wrap-6 d-md-flex wow fadeInUp">
                        <div class="icon">
                            <img class="front-icon" src="assets/assets/img/icon/icon-37.svg" alt="icon">
                            <img class="back-icon" src="assets/assets/img/icon/icon-37w.svg" alt="icon">
                        </div>
                        <div class="content">
                            <h4 class="service-title"><a routerLink="services">Multiple Software Token</a></h4>
                            <p class="description">Our system uses layered tokens to give your account advanced
                                protection and reduce unauthorized access risks.</p>
                            <a routerLink="services" class="more-btn">View More Details <img
                                    src="assets/assets/img/icon/arrow-7.svg" alt="arrow"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-wrap-6 d-md-flex wow fadeInUp" data-wow-delay="0.1s">
                        <div class="icon">
                            <img class="front-icon" src="assets/assets/img/icon/icon-38.svg" alt="icon">
                            <img class="back-icon" src="assets/assets/img/icon/icon-38w.svg" alt="icon">
                        </div>
                        <div class="content">
                            <h4 class="service-title"><a routerLink="services">Low Interest Rate</a></h4>
                            <p class="description">Enjoy competitive interest rates and maximize savings through stable
                                and well-managed financial solutions.</p>
                            <a href="services-details.html" class="more-btn">View More Details <img
                                    src="assets/assets/img/icon/arrow-7.svg" alt="arrow"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-wrap-6 d-md-flex wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon">
                            <img class="front-icon" src="assets/assets/img/icon/icon-39.svg" alt="icon">
                            <img class="back-icon" src="assets/assets/img/icon/icon-39w.svg" alt="icon">
                        </div>
                        <div class="content">
                            <h4 class="service-title"><a routerLink="services">Strong Security System</a></h4>
                            <p class="description">Advanced encryption and monitoring protect your personal data from
                                threats during use and storage.</p>
                            <a routerLink="services" class="more-btn">View More Details <img
                                    src="assets/assets/img/icon/arrow-7.svg" alt="arrow"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-section end -->


    <!-- cta-section end -->
    <div class="cta-section position-relative pt-140 pb-100 pt-lg-60 pb-lg-60">
        <img class="d-none d-lg-inline-block position-absolute start-0 mt-170 ml-140 top-0 rotation"
            src="assets/assets/img/shape/shape-9.png" alt="shape">
        <img class="d-none d-lg-inline-block position-absolute end-0 mt-170 mr-100 top-0 rotation"
            src="assets/assets/img/shape/shape-9.png" alt="shape">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="title-one text-center">
                        <h2 class="title">Have Concerns? Feel Free to Connect.</h2>
                        <a routerLink="/login" class="ht-btn mt-25">Get a loan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cta-section end -->

</main>