<main>

    <!-- page-title-area start -->
    <div class="page-title-area">
        <div class="breadcrumb-wrapper" data-background="assets/assets/img/page-title/page-title-bg.jpg" style="background-image: url(assets/assets/img/page-title/page-title-bg.jpg);">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2 class="breadcrumb-title">Services</h2>
                    <ul class="breadcumb-menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Services</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- page-title-area end -->

    <!-- about-section start -->
    <div class="about-section pt-120 pb-55 pb-lg-15 pt-lg-100">
        <div class="container">
            <div
                class="row align-items-center justify-content-md-between justify-content-center mb-95 mb-lg-50">
                <div class="col-xxl-6 col-md-6">
                    <div class="title-one">
                        <h2 class="title">Always Protecting Life, Business.</h2>
                    </div>
                </div>
                <div class="offse-xxl-1 col-xxl-5 col-md-6">
                    <div class="title-one">
                        <p class="mb-30">Continuously protecting your life and business, offering dependable
                            coverage for all
                            your vital needs.</p>
                        <a href="about.html" class="btn-four">About us</a>
                    </div>
                </div>
            </div>
            <div class="row row-cols-md-3 row-cols-1 justify-content-between">
                <div class="col">
                    <div class="counter-wrap-4 text-md-start text-center">
                        <p class="counter-title">Winning Awards</p>
                        <div class="counter-divider"></div>
                        <h3 class="number"><span class="counter">146</span>+</h3>
                        <p class="description">More than 146 awards won, celebrating excellence and
                            recognition
                            in various fields.</p>
                    </div>
                </div>
                <div class="col d-flex justify-content-md-center">
                    <div class="counter-wrap-4 text-md-start text-center">
                        <p class="counter-title">Clients</p>
                        <div class="counter-divider"></div>
                        <h3 class="number"><span class="counter">1.8</span>m+</h3>
                        <p class="description pe-xxl-3">Our company has over 1.8 million clients, showcasing
                            exceptional
                            trust and
                            service.</p>
                    </div>
                </div>
                <div class="col d-flex justify-content-md-end">
                    <div class="counter-wrap-4 text-center text-md-start">
                        <p class="counter-title">Expert Members</p>
                        <div class="counter-divider"></div>
                        <h3 class="number"><span class="counter">13</span>k+</h3>
                        <p class="description">Our company boasts over 13,000 expert members, ensuring top-tier
                            knowledge
                            and service.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about-section end -->

    <!-- service-section start -->
    <section class="grey-bg service-section pt-120 pb-75 pt-lg-60 pb-lg-15">
        <div class="container">
            <div class="title-one text-lg-start text-center mb-70">
                <h2 class="title">Our Services</h2>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="service-wrap-4 white-bg d-md-flex">
                        <div class="icon">
                            <img class="front-icon" src="assets/assets/img/icon/icon-21.svg" alt="icon">
                            <img class="back-icon" src="assets/assets/img/icon/icon-21w.svg" alt="icon">
                        </div>
                        <div class="content">
                            <h4 class="service-title"><a href="services-details.html">Business Insurance</a>
                            </h4>
                            <p class="description">Life insurance offers lump sums or payments
                                to help beneficiaries cover debts
                                and expenses.</p>
                            <a href="services-details.html" class="more-btn text-capitalize">View More Details
                                <img src="assets/assets/img/icon/arrow-7.svg" alt="arrow"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-wrap-4 white-bg d-md-flex">
                        <div class="icon">
                            <img class="front-icon" src="assets/assets/img/icon/icon-20.svg" alt="icon">
                            <img class="back-icon" src="assets/assets/img/icon/icon-20w.svg" alt="icon">
                        </div>
                        <div class="content">
                            <h4 class="service-title"><a href="services-details.html">Business Insurance</a>
                            </h4>
                            <p class="description">Life insurance offers lump sums or payments
                                to help beneficiaries cover debts
                                and expenses.</p>
                            <a href="services-details.html" class="more-btn text-capitalize">View More Details
                                <img src="assets/assets/img/icon/arrow-7.svg" alt="arrow"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-wrap-4 white-bg d-md-flex">
                        <div class="icon">
                            <img class="front-icon" src="assets/assets/img/icon/icon-22.svg" alt="icon">
                            <img class="back-icon" src="assets/assets/img/icon/icon-22w.svg" alt="icon">
                        </div>
                        <div class="content">
                            <h4 class="service-title"><a href="services-details.html">Business Insurance</a>
                            </h4>
                            <p class="description">Life insurance offers lump sums or payments
                                to help beneficiaries cover debts
                                and expenses.</p>
                            <a href="services-details.html" class="more-btn text-capitalize">View More Details
                                <img src="assets/assets/img/icon/arrow-7.svg" alt="arrow"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-wrap-4 white-bg d-md-flex">
                        <div class="icon">
                            <img class="front-icon" src="assets/assets/img/icon/icon-23.svg" alt="icon">
                            <img class="back-icon" src="assets/assets/img/icon/icon-23w.svg" alt="icon">
                        </div>
                        <div class="content">
                            <h4 class="service-title"><a href="services-details.html">Business Insurance</a>
                            </h4>
                            <p class="description">Life insurance offers lump sums or payments
                                to help beneficiaries cover debts
                                and expenses.</p>
                            <a href="services-details.html" class="more-btn text-capitalize">View More Details
                                <img src="assets/assets/img/icon/arrow-7.svg" alt="arrow"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-section end -->

    <!-- cta-section end -->
    <div class="cta-section position-relative pt-140 pb-100 pt-lg-60 pb-lg-60">
        <img class="d-none d-lg-inline-block position-absolute start-0 mt-170 ml-140 top-0 rotation"
            src="assets/assets/img/shape/shape-9.png" alt="shape">
        <img class="d-none d-lg-inline-block position-absolute end-0 mt-170 mr-100 top-0 rotation"
            src="assets/assets/img/shape/shape-9.png" alt="shape">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="title-one text-center">
                        <h2 class="title">Have Concerns? Feel Free to Connect.</h2>
                        <a href="contact.html" class="ht-btn mt-25">Get a loan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cta-section end -->

</main>