.startbar .startbar-menu .navbar-nav .nav-item .nav-link.active,
.startbar .startbar-menu .navbar-nav .nav-item .nav-link:hover {
  color: rgb(253, 126, 20);
}

.startbar .startbar-menu .navbar-nav .nav-item .nav-link[data-bs-toggle="collapse"][aria-expanded="true"] i,
.startbar .startbar-menu .navbar-nav .nav-item .nav-link[data-bs-toggle="collapse"][aria-expanded="true"] span {
  color: #fd7e14;
  font-weight: 600;
}

.startbar .startbar-menu .navbar-nav .nav-item .nav-link[data-bs-toggle="collapse"][aria-expanded="true"] {
  background-color: rgba(13, 110, 253, .05);
  border-radius:
    10px;
}

.startbar .startbar-menu .navbar-nav .nav-item .nav-link[data-bs-toggle="collapse"][aria-expanded="true"]::before {
  content: "";
  border: 2px solid #fd7e14;
  background-color: #fd7e14;
  color: #fd7e14;
}

.startbar .startbar-menu .navbar-nav .nav-item .nav-link:hover[data-bs-toggle="collapse"][aria-expanded="true"]::before {
  content: "";
  border:
    2px solid #fd7e14;
  background-color: #fd7e14;
}

.startbar .startbar-menu .navbar-nav .nav-item .nav-link[data-bs-toggle="collapse"][aria-expanded="true"]::after {
  -webkit-transform:
    rotate(90deg);
  transform: rotate(90deg);
  color: #fd7e14;
}