/* You can add global styles to this file, and also import other style files */
/*@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';*/
@import "../node_modules/ngx-spinner/animations/ball-spin-clockwise.css";

body {
    font-family: "Roboto", sans-serif;
}

.btn {
    background-color: #fd7e14 !important;
    border: #fd7e14 !important;
}

.btn:hover {
    background-color: #fd7e14 !important;
    border: #fd7e14 !important;
    opacity: 0.8;
}

.btn-primary {
    background-color: #fd7e14 !important;
    border: #fd7e14 !important;
}

.btn-approve {
    background-color: #22c55e !important;
    border: #22c55e !important;
}

.btn-dark {
    background-color: #0B1C3F !important;
    border: #0B1C3F !important;
}


.btn-decline {
    background-color: #ef4d56 !important;
    border: #ef4d56 !important;
}

.text-primary {
    color: #fd7e14 !important;
}

.main-menu ul li a::before {
    display: none;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
}