/* You can add global styles to this file, and also import other style files */
/*@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';*/
@import "../node_modules/ngx-spinner/animations/ball-spin-clockwise.css";

body {
    font-family: "Roboto", sans-serif;
}

.btn {
    background-color: #fd7e14 !important;
    border: #fd7e14 !important;
}

.btn:hover {
    background-color: #fd7e14 !important;
    border: #fd7e14 !important;
    opacity: 0.8;
}

.btn-primary {
    background-color: #fd7e14 !important;
    border: #fd7e14 !important;
}

.btn-approve {
    background-color: #22c55e !important;
    border: #22c55e !important;
    color: #FFFFFF !important;
}

.btn-dark {
    background-color: #0B1C3F !important;
    border: #0B1C3F !important;
    color: #FFFFFF !important;
}


.btn-decline {
    background-color: #ef4d56 !important;
    border: #ef4d56 !important;
    color: #FFFFFF !important;
}

.text-primary {
    color: #fd7e14 !important;
}

.main-menu ul li a::before {
    display: none;
}

.whatsapp-float {
  position: fixed;
  bottom: 120px;
  left: 20px;
  z-index: 1000;
}

/* Hide the entire Google Translate toolbar */
/*#google_translate_element {
  display: none !important;
}*/

#google_translate_element {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  background: white;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

/* Hide the top banner that Google adds */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}

/* Hide any translation popup elements */
.goog-tooltip,
.goog-tooltip:hover {
  display: none !important;
}

.goog-text-highlight {
  background-color: transparent !important;
  box-shadow: none !important;
}
